body {
  font-family: "Open Sans", sans-serif;
}
header#mainheader {
  display: flex;
  align-items: center;
  max-width: 69em;
  margin: 2em auto;
  padding: 0 1em;
}
header#mainheader h1, header#mainheader p {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  flex: 1;
  margin: 0;
}
#mainheader a {
  text-decoration: none;
}
