body {
  font-family: "Open Sans", sans-serif;
  font-size: calc(15px + 4 * (100vw / 1500));
  line-height: 1.5;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}
header#mainheader {
  display: flex;
  align-items: center;
  max-width: 69em;
  margin: 2em auto;
  padding: 0 1em;
}
header#mainheader h1,
header#mainheader p {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  flex: 1;
  margin: 0;
}
#mainheader a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
nav a {
  color: black;
}
nav {
  max-width: 33em;
  margin: 0 auto;
  padding: 0 1em;
}
main {
  display: grid;
  place-items: center;
  max-width: 33em;
  margin: 0 auto;
  padding: 0 1em;
}
section {
  padding: 1.5em 0.5em 1.5em 0.5em;
  box-shadow: 14px 14px 1.5rem rgba(0, 0, 0, 0.5);
}
